.product img {
    width: 285px;
    height: 285px;
    border-radius: 8px;
    margin: 7px;
}

.product {
    width: 300px;
    height: 480px;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    position: relative;
}

.product-details {
    margin: 0 18px;
}

.product-details p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.btn-cart {
    width: 80%;
    background-color: rgb(102, 210, 218);
    color: white;
    border: 1px solid #95A0A7;
    border-radius: 8px 8px 8px 8px;
    padding: 12px 0px;
    margin-top: 20px;
    margin-left: 30px;
}

.btn-cart:hover {
    background-color: orange;
    color: white;
}